.main{
    margin:0%;
    width:40%;
    padding:10px;
    text-align:start;
    font-size:70px;
    color:rgb(23, 14, 14);
    padding-top:250px;
}
body{
  background:linear-gradient(to right,rgb(255, 151, 54),rgb(255, 0, 0));
  background-size: cover;
}